@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        height: 80%;

    }

    .grid-layout .member-card {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .grid-layout .member-card img {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        margin: 0 auto 0 0;
    }

    .logo-box img {
        padding: 1rem 1rem;
        max-height: 80px;
        width: auto;
    }

    #hamburger-btn {
        display: none;
    }

    #primary-nav,
    #primary-nav.open {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding-right: 1rem;
        margin: 1rem;


    }

    footer {
        color: black;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        /* Events gets 2 parts, Weather gets 1 part */
        grid-template-areas:
            "events weather"
            "spotlights spotlights";
        max-width: 1200px;
        margin: 0 auto;
    }

    .events {
        grid-area: events;
    }

    .weather {
        grid-area: weather;
    }

    .spotlights {
        grid-area: spotlights;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }

    .cta-button {
        padding: 2rem 3rem;
        border-radius: 2px;
        font-weight: 600;
        font-size: 2rem;

    }


}