@media (min-width: 38rem) {



    .discover-card {

        grid-template-areas:
            "photo title"
            "photo desc"
            "photo address"
            "photo btn";

        gap: 0.2rem .5rem;
    }


    .discover-card figure {
        width: 300px;
        margin: 1rem;
    }

    .discover-card img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
    }
}